<h1>Create New Task</h1>
<p>Click below to choose which type of task to create</p>
<form>
<input type="radio" name="question">Question
<br>
<input type="radio" name="photo">Photo
<br>
<input type="radio" name="gps">GPS
<br>
<input type="radio" name="qr code">QR Code
<br>
Write in a hint for your task:
<br>
<input type="text" name= "hint">
<br><br>
<input type="submit" value="Submit">
</form>