<html>
<style>
           /*Sets background image and the style to cover the whole page if possible while 
           keeping aspect ratio. Not possible with this picture on ipad mini*/
            body {
                background-image:url('https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSw6UYKDiaBqQe10VRJM_VHEVAs2OJvfs12Du-XllKunkTpXI66g3krEK4');
                background-size: cover;
            }
			
			h1 {
			 text-align: center; 
			 color: #fff; 
			}
			
			p {
			color: #fff; 
			text-align: center; 
			} 
</style>
<body>
  <h1>Hi</h1>
  <p>Welcome to the demo home page.</p>
    
        <li><%= link_to 'Start the Demo', demo_pageOne_path%></li>


    
    
</body>
</html>
