<html>
<head> 
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

	<%= render 'layouts/altNavBar' %>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
			
<h1>Pirate Hunt Tutorial</h1>
	


<div class="container"> 
	<div class="row">
		<div class="col-md-10 col-md-offset-1 text-center">
			<!-- Paragraph about creating new hunts  -->
			<p>
			This demo will show you how to create hunts, add tasks to hunts, and other functionalities of Pirate Hunt. 
			To get started, you will create a hunt. From the home page, click on the "Hunts" button; this will take you to the 
			hunts page. From there, find the "Create New Hunt" button at the top of the page. On this page, you will name your hunt, 
			determine whether it is active (want a definition of this), or whether it is public or private (should these be radio 
			 buttons?), and choose a start and end date for the hunt. Additionally you will specify a starting location, and a 
			 description of your scavenger hunt. Once finished, click the  "Create Hunt" button.
			 </p>
			 
			 <!-- Paragraph about creating tasks for hunts  -->
			 <p>
			 Next you will create tasks for your hunt. From this page, the specific page for your hunt, there is a button near the
			 bottom with the words "Create New Task." All good scavenger hunts have many tasks to be completed, so start with 
			 creating one task. 
			 <!-- [THIS WILL BE CHANGED ONCE THE TASK PAGES ARE UPDATED] -->
			 Enter in the clue for your task and assign a point value, then click create task! 
			 <!-- all spectulation from here on -->
			 After creating a task, you will be returned to the page for that particular hunt. From here, you can continue to create
			 tasks for your hunt, and stop whenever you have the desired number of tasks. On the hunt page, there will also be a
			 list of all the tasks for this hunt displayed.
			 
			 
			 </p>
			
				<div class="text-center">
				<!--the below path will change to the account creation path -->
				<%= link_to 'Create Account', demo_pageOne_path, :class => 'btn btn-capstone btn-block'%>
				</div>
	
		</div>
	</div>
</div>

</body>
</html>
