<html>
<style>


			h1 {
			 text-align: center; 
			 color: #fff; 
			}
			
			p {
			color: #fff; 
			text-align: center; 
			} 
</style>
<body>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
			

  <h1>Hi</h1>
  <p>Welcome to the demo home page.</p>
    
        <li><%= link_to 'Start the Demo', demo_pageOne_path%></li>


    
    
</body>
</html>
