<html>

<body>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <h1>Hi</h1>
  <p>Welcome to Page one of the demo.</p>
</body>
</html>
