<li id="hunt-<%= hunt.id %>">
  <span class="title"><%=link_to hunt.title, hunt %></span>
  <span class="author">Michael McDoesn'texist</span>
  <span class="description"><%= hunt.description %></span>
  <span class="timestamp">
    Created <%= time_ago_in_words(hunt.created_at) %> ago.
  </span>
</li>