
<h1>Hunt List</h1>
<ol class="hunts"><%= render partial: "browse", collection: @hunts, as: 'hunt' %></ol>
<br>

<div class="text-center">
<%= link_to 'Create a Hunt', new_hunt_path, :class => 'btn btn-capstone btn-block'%> 
</div>



