<h1>Hunts</h1>

<h3>This is the generate a hunt page!</h3>


<br><br>


<form>
Name this Hunt:<br>
<input type="text" name="HuntName">
<input type="hidden" name="Username" value="idk how to make this the the user's username">
</form>

<br><br><br><br>

<button type = "button">Create This Hunt</button>

<!--I think this could be a link to the hunts/index page-->
<button type = "button">Find Other Hunts</button>
<=linkTo


