<h1>Hunts</h1>

<h3>This is the 'shows a specific hunt' page!</h3>

<p>I think maybe a table of tasks for this hunt will go here?</p>

<button type = "button">Join This Hunt</button>

<!--This needs to be admin only-->
<button type = "button">Create New Task</button>
