<html>

<% provide(:title, 'Home') %>
  <h1>Ahoy!</h1>
  <p>Welcome to the Southwestern University Treasure Hunt!</p>
			<center>
			<%= link_to 'Create a Hunt', new_hunt_path, :class => 'btn btn-primary'%> 
			<br><br>
			<%= link_to 'View Hunts', hunts_path, :class => 'btn btn-primary'%> 
			<br><br>
			<%= link_to 'View a Demo', demo_path, :class => 'btn btn-primary'%>
			</center>

</html>
