<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<!-- Marketing messaging and featurettes 
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<% provide(:title, 'Home') %>

<div class="container marketing">
  <hr class="featurette-divider">
  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-md-4 text-center">
      <img class="img-circle" src="http://www.bootbundle.com/bundle/roundicons/free-60-icons-04.png">
      <h2>Browse Hunts</h2>
      <h3>See which hunts you wish to join.</h3>
	  <p><%= link_to 'Join Hunts »', hunts_path, :class => 'btn btn-capstone btn-block'%> </p>
    </div>
    <div class="col-md-4 text-center">
      <img class="img-circle" src="http://www.bootbundle.com/bundle/roundicons/free-60-icons-26.png">
      <h2>Create a hunt</h2>
      <h3>No hunt out there for you?</h3>
      <p><%= link_to 'Make your Own »', new_hunt_path, :class => 'btn btn-capstone btn-block'%></p>
    </div>
    <div class="col-md-4 text-center">
      <img class="img-circle" src="http://www.bootbundle.com/bundle/roundicons/free-60-icons-18.png">
      <h2>View a demo</h2>
      <h3>This tutorial will show you the ropes.</h3>
      <p><%= link_to 'Start Here »', demo_path, :class => 'btn btn-capstone btn-block'%>
</p>
    </div>
  </div><!-- /.row -->


  
  <!-- FOOTER -->
  <!-- This footer should appear on every page -->
  <footer>
    <p class="footer" style="float: right"><a href="#">Back to top</a></p>
    <p class="footer" style="float: left">This App is compliments of the Computer Science Capstone 2015.</p>
  </footer>
