@import 'bootstrap-sprockets';
@import 'bootstrap';

/*Center the navigation pills by displaying as an inline block subject to the text-center class in the html*/

.center-pills {
	display: inline-block;
	  font-size: 18px;
}

body {
	background-image:url('http://freeseamlesstextures.com/images/28-faded-parchment-background-sml.jpg');
	background-size: cover;
}
			
h1 {
	text-align: center; 
	color: #fff; 
}
			
p {
	color: #fff; 
	text-align: center; 
} 