  <!-- FOOTER -->
  <!-- This footer should appear on every page -->
  <footer class="footer">
    <p class="footer" style="float: right"><a href="#">Back to top</a></p>
    <p class="footer" style="float: left">This App is compliments of the Computer Science Capstone 2015.</p>
  </footer>
