  <!-- FOOTER -->
  <!-- This footer should appear on every page -->
  <footer class="footer container">
    <p style="float: left">This App is compliments of the Computer Science Capstone 2015.</p>
    <br>
    <p style="float: right"><a href="#top">Back to top</a></p>
  </footer>