
<div class="span12 text-center">
	<% if user_signed_in? %>
	<ul class="nav nav-pills center-pills">
		<li><%= link_to 'Edit profile', edit_user_registration_path%></li> 
		<li><%= link_to "Logout", destroy_user_session_path, method: :delete%></li>
	</ul>
	<% else %>
	<%= link_to "Sign up", new_user_registration_path, :class => 'nav-pills'  %> |
	<%= link_to "Login", new_user_session_path, :class => 'navbar-pills'  %>
	<% end %> 
</div>
